DEPLOYMENT_TOPOLOGY=cluster
CLUSTER_NODE_ROLE=web
FIRSTMEASURE_PROCESS_ROLE=web
V1_WEB_WORKERS=8
LEGACY_SERVICE_URL=http://replace-with-private-legacy-ip:3101
FIRSTMEASURE_STORAGE_ROOT=/var/cache/firstmeasure/projects
